/* reset styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    color: inherit;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
}


ul,
ol {
    list-style: none;
}

input,
button,
select,
textarea {
    border: none;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

svg {
    display: block;
    fill: currentColor;
}
